@charset "UTF-8";

body {
  margin: 0;
  padding: 0;
}
.parent {
  display: flex;
  width: 60%;
  
  border: 1px solid #000;
  overflow-x: scroll;
}
.child {
  min-width: 60%;
  aspect-ratio: 1/1;
}



