@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
}

.box {
  width: 200px;
  margin: 1.5em;
  padding: 1.5em 1em;
  background-color: #f3f3f3;
  
}
.btn {
  display: inline-block;
  width: max-content;
  margin: 15px;
  border: 1px solid;
  background-color: #9ce0fd;
  background: linear-gradient(124deg, #9ce0fd 0%, #6284FF 50%, #FF0000 100%);
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 84px;
  font-family: "Poetsen One", sans-serif;
  animation-name: gradation;
  animation-iteration-count: infinite;
  animation-duration: 2s; 
  animation-direction: alternate;
}
@keyframes gradation {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}

