@charset "UTF-8";

body {
  margin: 0;
  padding: 0;
}
.wrapper {
  position: relative;
  width: 100%;
  height: 2000px;
}
.text {
  offset-path: path("M446.375,199.891 C426.535,198.482 412.360,182.318 412.1000,166.000 C413.762,146.554 435.251,134.076 453.000,136.000 C471.018,137.954 482.041,154.202 484.1000,166.1000 C490.803,192.100 469.309,218.704 446.000,223.1000 C414.740,231.102 383.219,199.182 378.1000,169.000 C373.622,130.523 412.697,95.119 450.1000,91.000 C496.370,86.121 535.586,125.704 542.000,164.1000 C550.825,219.071 496.722,267.572 446.000,273.1000 C382.450,282.053 327.915,223.564 317.1000,169.000 C303.978,91.834 379.021,21.393 449.000,6.000 C550.800,-16.393 657.001,74.395 664.000,162.000 C672.538,268.868 531.101,343.438 441.1000,364.1000 C411.595,372.358 371.532,374.218 362.000,374.000 C294.139,372.445 122.652,372.591 0.1000,371.1000");
  animation: moveAnime 5s infinite alternate linear;
  display: inline-block;

}
@keyframes moveAnime {
  from {
    
    offset-distance: 0%;
  }
  to {
    offset-distance: 100%;
    
  }
}